:root {
  --color-h: #fff;
  --color-text: rgba(255, 255, 255, 0.82);
  --ui-background: #1a1a1a;
  --ui-foreground: rgb(179, 245, 209);
  --bg-opacity: 1;
  --text-opacity: 1;
  --color-menu-icon: rgb(0, 220, 130);
}