:root {
  --color-brand: #1e80ff;
  --color-brand-light: #e8f3ff;
  --color-nav-title: #86909c;
  --color-nav-popup-bg: #ffffff;
  --color-primary: #1d2129;
  --color-secondary-app: #4e5969;
  --color-thirdly: #86909c;
  --color-hover: #1e80ff;
  --color-hover-thirdly: #86909c;
  --color-dropdown-text: #1e80ff;
  --color-divider: #e5e6eb;
  --color-main-bg: #f4f5f5;
  --color-secondary-bg: #ffffff;
  --color-thirdly-bg: #f4f5f5;
  --color-hover-bg: #e8f3ff;
  --color-comment-bg: rgba(244, 245, 245, 0.5);
  --hover-bg: linear-gradient(
  90deg,
  rgba(232, 243, 255, 0) 0%,
  rgba(232, 243, 255, 0.8) 25.09%,
  #e8f3ff 50.16%,
  rgba(232, 243, 255, 0.8) 75.47%,
  rgba(232, 243, 255, 0) 100%
);
  --color-mask: rgba(0, 0, 0, 0.4);
  --color-quick-nav-text: #ffffff;
  --color-nav-bg: rgba(255, 255, 255, 0.13);
  --color-nav-selected-border: rgba(229, 230, 235, 0.3);
  --color-tips: #f53f3f;
  --color-fourthly: #c9cdd4;
  --color-shadow: rgba(0, 0, 0, 0.16);
  --color-grey-triangle: #e5e6eb;
  --color-icon-search: #ffffff;
  --color-navbar-icon: #1e80ff;
  --color-layout-dropdown-bg: rgba(232, 243, 255, 0.8);
  --color-layout-title: #4e5969;
  --color-layout-title-active: #1e80ff;
  --color-layout-icon-outline: rgba(30, 128, 255, 0.5);
  --color-layout-icon-fill: #ffffff;
  --color-layer-gray-1-2: rgba(228, 230, 235, 0.5);
  --color-layer-4: #ffffff;
  --color-font-brand1-normal: #1e80ff;
  --color-font-brand-4: #abcdff;
  --color-font-1: #252933;
  --color-font-2: #515767;
  --color-font-3: #8a919f;
  --color-font-4: #c2c8d1;
  --color-font-white: #fff;
  --color-layer-4-plugin: rgba(30, 128, 255, 0.05);
  --brand-fill2-hover: rgba(30, 128, 255, 0.1);
  --color-gray-0: #fff;
  --color-gray-1-1: #e4e6eb;
  --color-gray-1-2: rgba(228, 230, 235, 0.5);
  --color-gray-1-3: #e4e6eb;
  --color-gray-2: #f2f3f5;
  --color-gray-3: #f7f8fa;
  --color-background: #f2f3f5;
  --color-layer-1: #fff;
  --color-layer-2-1: #f7f8fa;
  --color-layer-2-2: rgba(247, 248, 250, 0.7);
  --color-layer-3-fill: #f2f3f5;
  --color-layer-3-border: #e4e6eb;
  --color-layer-4-dropdown: #fff;
  --color-layer-5: #fff;
  --color-brand-1-normal: #1e80ff;
  --color-brand-2-hover: #1171ee;
  --color-brand-3-click: #0060dd;
  --color-brand-4-disable: #abcdff;
  --color-brand-5-light: #eaf2ff;
  --color-mask-1: rgba(0, 0, 0, 0.4);
  --color-mask-2: #fff;
  --color-mask-3: none;
  --color-mask-6: #ffffff;
  --color-brand-fill1-normal: rgba(30, 128, 255, 0.05);
  --color-brand-fill2-hover: rgba(30, 128, 255, 0.1);
  --color-brand-fill3-click: rgba(30, 128, 255, 0.2);
  --color-brand-stroke1-normal: rgba(30, 128, 255, 0.3);
  --color-brand-stroke2-hover: rgba(30, 128, 255, 0.45);
  --color-brand-stroke3-click: rgba(30, 128, 255, 0.6);
  --color-font_danger: #ff5132;
  --color-shade-1: rgba(0, 0, 0, 0.4);
  --color-popup: #fff;
  --color-popover: rgba(0, 0, 0, 0.8);
  --ui-background: rgb(2, 4, 32);
  --ui-foreground: rgb(179, 245, 209);
  --bg-opacity: 1;
  --text-opacity: 1;
}